.site-info {
	background: $primary;
	padding: 25px 0px;
	color: rgba($white,0.9);
	text-align: center;
	.copyright {
		line-height: 3rem; 
		@include font-size(1.5);
	}
	.left-sidebar {  
		text-align: rigth;
		 
		li  a {
			font-family: $copy_font;
		}
		.textwidget {
			ul {  
				text-align:right;
				li {   
					list-style:none;
					display:inline-block;
					padding: 1px 15px;
					a {
						color:$white;	
						&:hover {
							color:$secondary;
						}
					}
					
				}	
			}
		}
	}

	.widget {
		margin: 0;
	}

	p {
		color: rgba($white,0.9);
		margin:0;
		a {
			color: $white;
			&:hover {
				color: $secondary;  
			}
		}
	}
}